                                <div class="item">
                                    <div class="img">
                                        <img src="img/examples/users/olga_m.jpg" class="img-thumbnail"/>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="name">Olga Ivaniuk</a>
                                        <div class="text">
                                            Quisque ullamcorper rutrum tortor, ac egestas dui rhoncus at.<br/>
                                            <p class="muted tar">14:30 03.06.2013</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img">
                                        <img src="img/examples/users/dmitry_m.jpg" class="img-thumbnail"/>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="name">John Doe</a>
                                        <div class="text">                                                    
                                            Maecenas sagittis turpis sit amet risus congue ac luctus ligula pulvinar. Suspendisse a tellus enim.<br/>
                                            <p class="muted tar">12:22 03.06.2013</p>                                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img">
                                        <img src="img/examples/users/alexey_m.jpg" class="img-thumbnail"/>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="name">Alexey Kucher</a>
                                        <div class="text">                                                    
                                            Amet risus congue ac luctus ligula pulvinar...<br/>
                                            <p class="muted tar">12:12 03.06.2013</p>                                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img">
                                        <img src="img/examples/users/helen_m.jpg" class="img-thumbnail"/>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="name">Helen Symonchuk</a>
                                        <div class="text">                                                    
                                            Donec libero magna, consectetur...<br/>
                                            <p class="muted tar">10:35 03.06.2013</p>                                                    
                                        </div>
                                    </div>
                                </div>